@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verifica tu cuenta</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>¡Registro exitoso!</h1>
        <p>Por favor, verifica tu cuenta utilizando el enlace enviado a tu correo electrónico.</p>
        <a href="/Login/Index">Regresar al inicio</a>
    </div>
</body>
</html>
